<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
        <a href="/logout">Logout</a>
        <a href="/">Back to home</a>
    </nav>

    <h1>Pending Posts</h1>

    {% for post in posts %}

    <p>{{ post[1] }}</p>

    <a href="/approve/{{ post[0] }}">Approve</a>

    <a href="/delete/{{ post[0] }}">Disapprove</a>

    <hr>

    {% endfor %}
</body>
</html>