<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}

        <h1>Welcome to my website</h1>
        
        <form action="/submit" method="POST" onsubmit="return checkPost()">

            <textarea class="random_post_submit" id="content" name="content" placeholder="Write your post"></textarea>

            <div class="right">
                <button class="main_page_submit" type="submit">Submit</button>
            </div>

        </form>

        <hr>
        
        <div class="middle">
            <button class="main_page_random" onclick="getRandomPost()">Show Random Post</button>
        </div>

        <div class="post_box hidden" id="randomPost"></div>

        <hr>
        <br>
        
        <div class="left">
        <a href="/posts">
            <button class="main_page_post">Go to Post Page</button>
        </a>
        </div>

        <hr>

        {% if admin %}
        <a href="/admin">
            <button>Go to Admin Panel</button>
        </a>
        {% endif %}

        <script src="{{ url_for('static', filename='script.js') }}"></script>

        {% endblock %}
</body>
</html>