<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}

    <h1>Published Posts</h1>

    {% for post in posts %}

    <p>{{ post[1] }}</p>

    {% if admin %}

    <form action="/delete/{{ post[0] }}">
        <button type="submit" onclick="return confirm('Are you sure?')">
            Delete
        </button>
    </form>

    {% endif %}

    <hr>

    {% endfor %}
    <div class="left">
        <a href="/">
            <button class="post_page_back_to_home">Back to home</button>
        </a>
    </div>

    {% endblock %}
</body>
</html>